{{- /* Returns a dict { Name, Link } for a presentation author. */ -}}
{{- $page := . -}}
{{- $name := $page.Params.author | default ($page.Param "author") -}}
{{- $link := $page.Params.author_link | default ($page.Param "author_link") | default "" -}}

{{- $primary := "" -}}
{{- with $page.Params.authors }}
    {{- if gt (len .) 0 }}
        {{- $primary = index . 0 -}}
    {{- end }}
{{- end }}

{{- if $primary }}
    {{- $authorPage := $page.Site.GetPage (printf "%s/authors/%s" $page.Language.Lang $primary) -}}
    {{- if not $authorPage }}
        {{- $authorPage = $page.Site.GetPage (printf "authors/%s" $primary) -}}
    {{- end }}
    {{- if not $authorPage }}
        {{- $authorPage = $page.Site.GetPage (printf "%s/authors/%s.md" $page.Language.Lang $primary) -}}
    {{- end }}
    {{- with $authorPage }}
        {{- $name = .Title -}}
        {{- $link = .RelPermalink -}}
    {{- else }}
        {{- if not $name }}
            {{- $name = $primary -}}
        {{- end }}
    {{- end }}
{{- end }}

{{- if not $name }}
    {{- $name = "Unknown Speaker" -}}
{{- end }}

{{- return (dict "Name" $name "Link" $link) -}}
