{{- $url := .url | default "#" -}}
<a href="{{ $url }}" 
   target="_blank"
   rel="noopener noreferrer"
   class="flex flex-col h-full p-4 md:p-6 rounded-lg bg-bg-primary-light dark:bg-bg-secondary-dark border border-border-primary-light dark:border-border-primary-dark hover:shadow-md transition-all duration-300">
    <div class="flex items-center justify-between mb-4">
        <h3 class="inline-flex items-center text-lg md:text-xl font-semibold text-text-primary-light dark:text-text-primary-dark">
            {{ .name }}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-2 opacity-70 group-hover:opacity-100 transition-opacity duration-200">
                <path d="M7 17l9.2-9.2M17 17V7H7"/>
            </svg>
        </h3>
    </div>
    <!-- <p class="text-text-secondary-light dark:text-text-secondary-dark text-sm prose mb-1">{{ .date }}</p> -->
</a>
